# Compiled Object files
*.o
*.obj

# Executables
*.bin
*.elf

# PROS
bin//
.cache/
compile_commands.json
temp.log
temp.errors
*.ini
.d//
.DS_Store
build//

# VSCode
.vscode/settings.json
.vscode/c_cpp_properties.json
.vscode/settings.json
.vscode/settings.json
.vscode/c_cpp_properties.json
